/* Only Mobile Menu Max width 991px */
@media only screen and (max-width: 991px) {
  .mean-container .mean-bar {
    background-color: #fff;
    height: 75px;
  }
  .mean-container a.meanmenu-reveal {
    padding: 24px 15px 0 0;
    color: #111111;
  }
  .mean-container a.meanmenu-reveal span {
    background-color: #111111;
    position: relative;
    top: 8px;
    margin-top: -5px;
    border-radius: 0;
  }
  .mean-container .mean-nav {
    margin-top: 75px;
  }
  .mean-container .mean-nav ul {
    background-color: #122738;
  }
  .mean-container .mean-nav ul li a {
    color: #ffffff;
    border-top: 1px solid #17222b;
    font-size: 16px;
  }
  .mean-container .mean-nav ul li a:hover {
    color: #19ce67;
  }
  .mean-container .mean-nav ul li a.active {
    color: #19ce67;
  }
  .mean-container .mean-nav ul li a.mean-expand {
    margin: 0 !important;
    line-height: 1.5;
  }
  .mean-container .mean-nav ul li a.mean-expand {
    background: none;
  }
  #page .site-branding .site-logo {
    position: initial;
    margin: 0;
    padding: 0;
  }
  #page .site-branding img, header .site-branding img {
    max-width: 265px;
    max-height: 65px;
  }
  #page .site-branding, header .site-branding {
    z-index: 999999999;
    position: absolute;
    left: 15px;
    top: 10px !important;
    min-width: 230px;
  }
  .admin-bar #page .site-branding, .admin-bar header .site-branding {
    top: 56px;
  }
  .mean-container .mean-nav ul li {
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }

  /* Twenty Twenty One */
  .mean-container .mean-nav .sub-menu-toggle {
    display: none;
  }
  .mean-bar .menu-button-container {
    display: none;
  }

  /* Twenty Twenty */
  .primary-menu > li > .icon {
    display: none;
  }
  .header-inner.section-inner .header-titles-wrapper {
    padding: 1rem 4rem;
  }
  
  /* Hello Elementor */
  .mean-container header.site-header {
    position: absolute;
  }
}
